appnope==0.1.2
backcall==0.2.0
decorator==5.0.9
-e git+ssh://git@github.com/sspickle/genlatex.git@b9d799935afa1df51fe43a734cb2161b11da1d4e#egg=genlatex
ipython==7.31.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
numpy==1.21.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
Pygments==2.10.0
PyMuPDF==1.18.16
-e git+ssh://git@github.com/sspickle/pytikz.git@7b6752063a7feaac381ce4ac20e460c419d063c5#egg=pytikz
si-prefix==1.2.2
traitlets==5.0.5
wcwidth==0.2.5
